{
  "trailingComma": "none",
  "tabWidth": 4,
  "printWidth": 120,
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { 
          "bracketSameLine": true,
          "parser": "lwc" }
    },
    {
        "files": "**/lwc/**/*.js",
        "options": { "singleQuote": true }
    }
  ]
}
